.HeaderContainer {
    display: flex;
    justify-content: space-between;
}
.HeaderContainer h2 {
    padding: 0px 5px 2px 5px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.Login {
    margin: 13px 47px 0 0;
}
.Logo img {
    padding: 5px;
    width: 50px;
    height: 50px;
}
