.Container {
    margin: 50px 0 0 40px;
    font-size: 24px;
    font-weight: normal;
}

.Container a{
    text-decoration: none;
    color: white;
}
.Container a:active {
    font-weight: bold;
}
.Container a.ActiveLink {
    color: brown;
}
.userPhoto {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
.selectedPage {
    font-weight: bold;
}
.buttonPage a{
    border: 1px solid blue;
    border-radius: 10px;
    padding: 3px;
    margin: 2px;
    text-decoration: none;
    cursor: pointer;
}
